 /* ===== RESET ===== */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

/* ===== LOADER ===== */
#loader {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
#loader div {
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin { to { transform: rotate(360deg); } }

/* ===== BODY BACKGROUND ===== */
body {
 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000;
  min-height: 100vh;
}

/* الموبايل */
@media (max-width: 600px) {
  body {
    background-size: contain;
  }
}

.hero-image {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;   /* ✅ الصورة كاملة بدون قص */
  object-position: center;
  background-color: #000; /* خلفية سوداء إذا ظهرت فراغات */
  z-index: -2;
}

/* ===== OVERLAY ===== */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.35);
}

/* ===== PARTICLES ===== */
canvas {
  position: absolute;
  inset: 0;
}

/* ===== CONTENT (GLASS) ===== */
.content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
  padding: 140px;
  border-radius: 20px;
  animation: fadeUp 1.5s ease;
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

.content h1 {
  font-size: clamp(24px, 6vw, 70px);
}

.content p {
  font-size: clamp(20px, 5vw, 70px);
}


/* ===== BUTTON ===== */
.content button {
  background: linear-gradient(135deg,#ff00f2,#ff2f00);
  border: none;
  padding: clamp(10px, 3vw, 14px) clamp(22px, 5vw, 35px);
  border-radius: 30px;
  font-size: clamp(18px, 4vw, 60px);;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 25px rgba(255, 0, 98, 0.7);
  animation: pulse 2s infinite;
  transition: 0.3s;
}
.content button:hover {
  transform: scale(1.12);
}
@keyframes pulse {
  0% { box-shadow: 0 0 15px rgba(26, 255, 0, 0.5); }
  50% { box-shadow: 0 0 35px rgba(123, 255, 0, 0.9); }
  100% { box-shadow: 0 0 15px rgba(229, 255, 0, 0.5); }
}

/* ===== RESPONSIVE ===== */
@media (max-width: 600px) {
  .content {
    width: 90%;
    padding: 30px;
  }
  .content h1 {
    font-size: 22px;
  }
}